#assembly-vid {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}
.section-content {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding-bottom: 20px;
}
.to-top {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	/*padding: 20px;*/
}